html, body {
	width: 100%;
	height: 100%;
}
div.layout {
	min-height: 100%;
	display: grid;
	grid-template-rows: 60px 350px 1fr 100px;
	grid-template-columns: 1fr 520px 534px 0px 1fr;
}
div.layout-example {
	min-height: 100%;
	display: grid;
	grid-template-rows: 60px 350px 1fr 100px;
	grid-template-columns: 1fr 520px minmax(200px, 294px) minmax(250px, 450px) 1fr;
}
div.canvas-container {
	grid-column: 2/4;
	grid-row: 2/3;
}
svg.canvas {
	float: left;
}

div.legend-container{
	grid-column: 4/5;
	grid-row: 2/3;
}
div.description-container{
	grid-column: 4/5;
	grid-row: 2/3;
}
div.bottom-container {
	grid-column: 2/3;
	grid-row: 3/4;
}
div.middle-container {
	grid-column: 3/4;
	grid-row: 3/4;
}
div.right-container {
	grid-column: 4/5;
	grid-row: 3/4;
}
div.top-boundary {
	background: rgb(255, 255, 255);
	grid-column: 1/6;
	grid-row: 1/2;
	/*font-size: 32px;*/
}
div.left-boundary {
	/*background: #0088DB;*/
	background: #FFFFFF;
	grid-column: 1/2;
	grid-row: 1/5;
}
div.right-boundary {
	/*background: #0088DB;*/
	background: #FFFFFF;
	grid-column: 5/6;
	grid-row: 1/5;
}
div.footer-container {
	grid-column: 2/5;
	grid-row: 4/5;
}
img.footer-logo {
	height: 60px;
	/* float: right; */
	margin-right: 1em;
}
button.footer {
	float: right;
	margin: 0.5em 0em 1em 3em;
}
div.interfacebox {
	width: 520px;
}
div.interfacecontainer {
	width: 520px;
	float: left;
}
div.title_bar button.color-picker-btn {
	height: 16px;
	width: 16px;
	margin: 4px 4px 4px 4px;
	border-radius: 50%;
	border: 0px;
	float: left;
}
div.name-value {
	float: left;
	width: 1.5em;
	/* margin-left: 1em; */
	margin-bottom: 0em;
	white-space:nowrap;
    overflow:hidden;
    border: none;
	display: inline;
    font-family: inherit;
    font-size: 14px;
    padding: none;
	background: inherit;
	line-height: 24px;
    height: 24px;
}
input.name {
	float: left;
	width: 350px;
	margin-left: 0em;
	margin-bottom: 0em;
	white-space:nowrap;
    overflow:hidden;
    border: none;
    display: inline;
    font-family: inherit;
    font-size: 14px;
    padding: none;
    background: inherit;
    height: 24px;
}
div.sequence {
	border: 0px;
	width: 520px;
	border-radius: 0px;
	margin: 0em 0em 1em 0em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 14px;
}
div.title_bar {
	height: 24px;
	background: #CED3DC;
	font-size: 14px;
}
div.title_bar .button {
	height: 24px;
	width: 24px;
	float: right;
	cursor: pointer;
	background: #CED3DC;
	text-align: center;
}
div.title_bar .settings {
	height: 24px;
	width: 20px;
	float: right;
	cursor: pointer;
	background: #CED3DC;
	text-align: center;
	border: 0px;
	margin-right: 2px;
}
div.title_bar .visible {
	height: 24px;
	width: 24px;
	float: right;
	cursor: pointer;
	background: #CED3DC;
	text-align: center;
}
div.title_bar .close-button {
	height: 24px;
	width: 24px;
	float: right;
	cursor: pointer;
	background: #ce797f;
	/*background: #D33F49;*/
	text-align: center;

}
div.box {
	height: 80px;
	width: 520px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1em 6em 1fr 1em;
}
div.box-card {
	height: 80px;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1rem 14em 1fr 1rem;
}
div.thickness-text {
	grid-row: 1/3;
	grid-column: 2/3;
	display: flex;
	align-items: center;
}
div.thickness-slider-container {
	grid-row: 1/3;
	grid-column: 3/4;
	display: flex;
	align-items: center;
}
div.thickness-slider-inner {
	margin:	0;
}
div.firstRow-text {
	grid-row: 1/2;
	grid-column: 2/3;
	display: flex;
	align-items: center;
}
div.firstRow-slider {
	grid-row: 1/2;
	grid-column: 3/4;
	display: flex;
	align-items: center;
}
div.firstRow-slider-inner {
	margin:	0 auto;
}
/* div.secondRow {
	height: 40px !important;
	grid-row: 2/3;
	grid-column: 2/4;
	height: 32px;
	display: flex;
	align-items: center;
} */
div.thirdRow-text {
	grid-row: 2/3;
	grid-column: 2/3;
	display: flex;
	align-items: center;
}
div.thirdRow-slider {
	grid-row: 2/3;
	grid-column: 3/4;
	display: flex;
	align-items: center;
}
div.thirdRow-slider-inner {
	margin:	0 auto;
}

/*div.thirdRow-slider-inner button{
	width: 24px;
	height: 24px;
}*/

div.secondRow button {
	float: left;
	vertical-align: middle;
}


div.secondRow label.corr_output {
	height: 25px;
	width: 4em;
	margin: 0em 0.5em 0em 0em;
}

div.secondRow button.btn {
	width: 5em;
}

div.secondRow button.btn-sequence-input {
	/* float: left; */
	width: 6em;
	margin: 0em 0.5em 0em 0em;	
}

div.secondRow button.dropdown-toggle {
	width: 2em;
	margin: 0em 0.5em 0em 0em;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #FCF7F8;
}

div.legendbox {
	margin: auto;
	height: 40px;
}

div.color-display {
	height: 20px;
	width: 20px;
	background-color: #c7757a;
	margin: 0px;
	float: left;
}

div.legend-text {
	margin-left: 30px;
}

.slider {
	margin: 0em 0.5em 0em 0.5em;
}

.new-interface-btn {
	margin: 0em 0em 0.5em 1em;
}

.material-icons.md-title {
	font-size: 18px;
	margin-top: 3px;
}
.material-icons.md-title-small {
	font-size: 14px;
	margin-top: 5px;
}
.material-icons.md-36 { font-size: 36px; }

/*New button color definition*/
.btn-grey:focus {
  outline: none;
  box-shadow: none;
}

.btn-grey { 
  background-color: #CED3DC; 
  border-color: #CED3DC; 
} 
 
.btn-grey:hover, 
.btn-grey:focus, 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-color: #B7BDC7; 
  border-color: #CED3DC; 
} 
 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-image: none; 
} 
 
.btn-grey.disabled, 
.btn-grey[disabled], 
fieldset[disabled] .btn-grey, 
.btn-grey.disabled:hover, 
.btn-grey[disabled]:hover, 
fieldset[disabled] .btn-grey:hover, 
.btn-grey.disabled:focus, 
.btn-grey[disabled]:focus, 
fieldset[disabled] .btn-grey:focus, 
.btn-grey.disabled:active, 
.btn-grey[disabled]:active, 
fieldset[disabled] .btn-grey:active, 
.btn-grey.disabled.active, 
.btn-grey[disabled].active, 
fieldset[disabled] .btn-grey.active { 
  background-color: #CED3DC; 
  border-color: #CED3DC; 
} 
 
.btn-grey .badge { 
  color: #CED3DC; 
}

.btn-blue:focus {
  outline: none;
  box-shadow: none;
}

.btn-blue { 
  color: #ffffff; 
  background-color: #0088DB; 
  border-color: #0088DB; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #ffffff; 
  background-color: #006DB0; 
  border-color: #0088DB; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #0088DB; 
  border-color: #0088DB; 
} 
 
.btn-blue .badge { 
  color: #ce797f; 
  background-color: #ffffff; 
}

.btn-red:focus {
	outline: none;
	box-shadow: none;
  }
  
.btn-red { 
	color: #ffffff; 
	background-color: #ce797f; 
	border-color: #c7757a; 
 } 
   
.btn-red:hover, 
.btn-red:focus, 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
	color: #ffffff; 
	background-color: #c45b62; 
	border-color: #c45b62; 
} 
   
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
	background-image: none; 
} 
   
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
	background-color: #c45b62; 
	border-color: #c45b62; 
} 
   
.btn-red .badge { 
	color: #ce797f; 
	background-color: #ffffff; 
}

.btn {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn-ok {
    font-size: 1.2rem;
    margin-top: 0.15rem;

}

.tooltip-inner {
	background-color: rgb(223, 223, 223);
	color: black;
}

.tooltip .arrow::before {
	border-right-color: rgb(223, 223, 223);
}

.tooltip.warning .tooltip-inner          { background-color:    #ec971f; }
.tooltip.warning.top > .tooltip-arrow    { border-top-color:    #ec971f; }
.tooltip.warning.right > .tooltip-arrow  { border-right-color:  #ec971f; }
.tooltip.warning.bottom > .tooltip-arrow { border-bottom-color: #ec971f; }
.tooltip.warning.left > .tooltip-arrow   { border-left-color:   #ec971f; }

.tooltip.danger .tooltip-inner          { background-color:    #d9534f; }
.tooltip.danger.top > .tooltip-arrow    { border-top-color:    #d9534f; }
.tooltip.danger.right > .tooltip-arrow  { border-right-color:  #d9534f; }
.tooltip.danger.bottom > .tooltip-arrow { border-bottom-color: #d9534f; }
.tooltip.danger.left > .tooltip-arrow   { border-left-color:   #d9534f; }

#specific_selector {
	width: 200px;
}
span .scaleView {
	font-family: 'Source Code Pro', monospace;
}
/* from https://www.w3schools.com/howto/howto_css_switch.asp  */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .sliderSwitch {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	margin: 0;
  }
  
  .sliderSwitch:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .sliderSwitch {
	background-color: #2196F3;
  }
  
  input:focus + .sliderSwitch {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderSwitch:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sliderSwitch.round {
	border-radius: 34px;
  }
  
  .sliderSwitch.round:before {
	border-radius: 50%;
  }
  .sliderSwitch-label {
	  margin-top: 0.5em;
	  margin-left: 1em;
  }

table.correlation-table {

}
table.correlation-table th {
	width: 2em;
	height: 2em;
	text-align: center;
	border: solid black 1px;
}
table.correlation-table td {
	width: 2em;
	height: 2em;
	text-align: center;
	border: solid black 1px;
}
table.correlation-table tr:first-child th {
	border-top: 0;
}
table.correlation-table tr:last-child th,
table.correlation-table tr:last-child td {
border-bottom: 0;
}
table.correlation-table tr th:first-child,
table.correlation-table tr td:first-child {
	border-left: 0;
}
table.correlation-table tr th:last-child,
table.correlation-table tr td:last-child {
	border-right: 0;
}
table.correlation-table tr:nth-child(even) {
	background: #fefefe;
}
table.correlation-table tr:nth-child(odd) {
	background: #f1f1f1;
}
table.correlation-table td.identity {
	color: #cccccc;
}
table.correlation-table td.nonsense {
	color: #dddddd;
}
div.cor_bottom_text {
	font-size: 14px;
	white-space: pre-wrap;
	margin-top: 0.5em;
}
div.correlation-data {
	border: 0px;
	width: 350px;
	border-radius: 0px;
	margin: 0em 0em 0em 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.cor-content {
	padding: 1em 1em 1em 1em;
}
div.type-menu {
	margin: 0em 0.5em 0em 0em;
}
div.database-menu {
	margin: 0em 0.5em 0em 0em;
}
/* .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}*/

.tutorial-img {
	max-width: 100%;
	/* height: 100%; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid black;
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 2.5em;
}

.bootstrap-select {
	width: 240px !important;
}
